main section.leftSection {
  flex-direction: column;
  gap: 10px;
}

main section.leftSection button {
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.05rem;
  text-transform: capitalize;
  opacity: 0.5;
  @apply hover:opacity-80 transition duration-300;
}
main section.leftSection button.active {
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.05rem;
  text-transform: capitalize;
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0.6px;
  @apply border border-2 border-blue-400 rounded-md;
}

.card {
  background: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(250, 250, 250, 0.05)
  );
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
    padding: 0 1.7rem;
  }
}

@media (max-width: 600px) {
  main.flex {
    flex-direction: column;
    align-items: center;
  }
  main section.leftSection {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  main section.rightSection {
    flex-direction: column;
  }
}
